// = COLORS ==============

$color--no-picture: #D8D8D8;
$color--widget-bg: #F7F7F7;
$color--primary: #0076B6;
$color--headings: #064085;
$color--body-text: #393A3C;
$color--text-light: #ffffff;

// = WHITESPACE ===========
$padding: 16px;
